asgiref==3.9.1
dj-database-url==3.0.1
Django==5.2.4
django-cors-headers==4.7.0
django-extensions==4.1
djangorestframework==3.16.0
extensions==0.4
pillow
psycopg2-binary==2.9.10
python-decouple==3.8
sqlparse==0.5.3
gunicorn
celery==5.4.0
redis==5.0.8

